h1 {
    text-align: center;
    font-family: oregonFont2, serif;
    font-size: 50px;
    color: rgba(230, 255, 0, 0.81);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
p {
    font-size: 33px;
    font-weight: bold;
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: oregonFont2, serif;
    align-content: center;
    text-align: center;
    text-space: 100px;

    border-bottom: 1px solid rgba(42, 80, 42, 0.33);
}
img {
    scale: 0.6;
    height: 500px;
    filter: brightness(110%);
}
body {
    background-color: rgba(0, 112, 48, 0.9);
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 200, 130, 0.3);
    border: 2px rgba(230, 255, 0, 0.81) solid;

    padding: 5px;
    margin-bottom: 50px;

}
#threetop {
        display: flex;
        justify-content: center;
        align-items: center;
    //padding-top: 30px;
        margin-bottom: -5rem;  /*KEYBOARD DISTANCE SIZE*/
    border-style: solid none none none;
    border-color: rgba(235, 244, 160, 0.3);
    border-width: 1px;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    background-color: rgba(220, 250, 225, 1);
    margin: 2px;
    font-size: 2.3rem;
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Playfair Display, Geneva, Tahoma, sans-serif;

}
@keyframes tileturngy{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        transform: scaleY(0);
        background-color: white;
    }
    51%{
        background-color: rgb(136, 134, 134);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes tileturnyel{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        background-color: white;
        transform: scaleY(0);

    }
    51%{
        background-color: rgb(229, 237, 62);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes tileturngn{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        transform: scaleY(0);
        background-color: white;
    }
    51%{
        background-color: rgb(90, 163, 46);
    }
    100%{
        transform: scaleY(1);
    }
}
.filled-box {
    border: 2px solid darkslategray;
    animation-duration: 1s;
}


.letter-row {
    display: flex;
}
#keyboard-cont {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(32, 60, 45, 0.68);
    padding: 1rem;
    border-radius: 4rem;
}
#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem; /*general widt of key boxes*/
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: oregonFontSmall, serif;
}

.popupwindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/*POPUP WINDOWS*/
/* Modal Content/Box */
.modal-content {
    background-color: #bcffbc;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #253c25;
    //width: 23%; /* Could be more or less, depending on screen size */
    //height: 25%;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 225px;
    animation-name: fadein;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes fadein { /*animation for poopup windiw*/
    from {width: 200px; opacity: 0}
    to {width: 300px; opacity: 1}
}

/* The Close Button */
.close {
    color: #afadad;
    //float: right;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    align-self: flex-end;
    font-family: oregonFont2, serif;
}

.close:hover,
.close:focus {
    color: #747773;
    text-decoration: underline;
    cursor: pointer;
}
#resultsbutton {
    height: 70px;
    font-family: Playfair Display, Geneva, Tahoma, sans-serif;
    //background-color: aquamarine;
}
#gameOverInfo {
    font-family: oregonFont2, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding-bottom: 10px;
}
#gameOverLink {
    font-family: oregonFont2, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}



@font-face {
    font-family: oregonFont2;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v37/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2);
}
@font-face {
    font-family: oregonFontSmall;
    src: url(https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2);
}
