/* h2 {
    align-items: center;
    /*font-family: oregonFont2, serif;
    font-size: 50px;
    color: rgba(23, 58, 17, 0.81);
    font-weight: bold;
     */
    scale: 0.2;
    width:102%;
    height: 6rem;
} */
p {
    font-weight: bold;
    font-family: oregonFont2, Verdana, serif;
    align-content: center;
    text-align: center;
}
#duckSteps {
    scale: 0.6;
    height: 500px;
    margin-left: 3rem;
    margin-right: 3rem;
    filter: brightness(130%);
}
@media screen and (max-width: 900px) {
    #duckSteps{
        display: none;
    }
}


/*yellow #FFFF00
green # #39B54A
*/

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(72, 140, 63, 0.92);*/
    background-color: rgba(57, 181, 74, 1);
    /*border: 2px rgba(10, 23, 10, 0.51) solid;*/

    padding: 15px;
    margin-bottom: 40px;
    border-radius: 0.8rem;

}
#threetop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: -2rem;  /*KEYBOARD DISTANCE SIZE*/
    border-style: solid none none none;
    border-color: rgb(26, 44, 14);
    border-width: 1px;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    background-color: rgba(230, 255, 235, 0.98);
    margin: 2px;
    font-size: 2.2rem;
    font-weight: bold;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;

}
@keyframes tileturngy{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        transform: scaleY(0);
        background-color: white;
    }
    51%{
        background-color: rgb(136, 134, 134);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes tileturnyel{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        background-color: white;
        transform: scaleY(0);

    }
    51%{
        background-color: rgb(229, 237, 62);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes tileturngn{
    0%{
        transform: scaleY(1);
        background-color: white;
    }
    50%{
        transform: scaleY(0);
        background-color: white;
    }
    51%{
        background-color: rgb(90, 163, 46);
    }
    100%{
        transform: scaleY(1);
    }
}
.filled-box {
    border: 2px solid darkslategray;
    animation-duration: 1s;
}


.letter-row {
    display: flex;
}
#keyboard-cont {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*background-color: rgba(88, 156, 99, 0.75);*/
    /*padding: 1rem;*/
    /*border-radius: 4rem;*/
}
#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.70rem; /*general widt of key boxes*/
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: oregonFontSmall, serif;
    border-color: green;
    border-block-style: solid
}

.popupwindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/*POPUP WINDOWS*/
/* Modal Content/Box */
.modal-content {
    background-color: #c0efc0;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #253c25;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 280px;
    animation-name: fadein;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    border-radius: 2px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes fadein { /*animation for poopup windiw*/
    from {width: 200px; opacity: 0}
    to {width: 300px; opacity: 1}
}

/* The Close Button */
/*.close {*/
/*    color: #afadad;*/
/*    //float: right;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    justify-content: flex-end;*/
/*    align-self: flex-end;*/
/*    font-family: oregonFont2, serif;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: #747773;*/
/*    text-decoration: underline;*/
/*    cursor: pointer;*/
/*}*/
#resultsbutton {
    height: 40px;
    width: 7rem;
    margin-top: 2rem;
    margin-left:0.7rem;
    font-family: oregonFont2, Geneva, Tahoma, sans-serif;
    background-color: #dadacd;
    transition-duration: 0.3s;
    border-color: #39B54A;
}
#resultsbutton:hover {
    background-color: #409c55; /* Green */
    color: #dadacd;
    cursor: pointer;
}
#gameOverMessage{
    font-size: 33px;
    font-weight: bold;
    font-family: oregonFont2, Verdana, serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(51, 83, 46, 1);
}
#gameOverInfo {
    font-family: oregonFont2, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#gameOverLink {
    font-family: oregonFont2, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    color: #1a4a2a;
}
#gameOverLink:hover{
    color: #39B54A;
}
/*/POPUP WINDOWS*/


@font-face {
    font-family: oregonFont2;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v37/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2);
}
@font-face {
    font-family: oregonFontSmall;
    src: url(https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2);
}
@media screen and (max-width: 440px) {
    .keyboard-button{
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.40rem; 
        margin: 0 2.5px;
    }
    #threetop{
        padding-left:0.5rem;
    }
    #keyboard-cont{            
        padding-left:0.5rem;
    }
    .letter-box{
        height: 3.2rem;
        width: 3.2rem;
    }
}
